@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", "Open-Sans", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ededed;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #989595;
  border-radius: 12px;
}

/*GROUP INPUT*/
.group-input{
  @apply flex flex-col gap-2;
}
.group-input > label{
  @apply text-base;
}
.group-input > input{
  @apply text-base focus:outline-none py-2 px-3 rounded-md;
}

